.btn__calc{
    right: 5px;
    position: relative;
    border: solid black 2px;
    border-radius: 10px;
    padding: 1px;
}

.calculadora__aba{
    right: 0;
    top: 8%;
    height: 92%;
    position: absolute;
    background-color: #8D7B68;
    width: 0vw;
    transition: .7s;
    overflow: hidden;
    z-index: 3;
    box-shadow: black 0px 5px 10px;
    border-bottom-left-radius: 20px;
}

.calculadora__aba.ativo{
    width: 50%;
    border-left: solid 3px black;
    border-bottom: solid 1px black;
}

.calculadora__lista{
    overflow: hidden auto;
    height: 92%;
    top: 50px;
}

.calculadora__lista--item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
    white-space: nowrap;
    border: solid black 2px;
    border-radius: 5px;
    margin: .3em;
    padding: .3em;
    font-weight: 700;
    color: black;
    background-color: whitesmoke;
}

.calculadora__lista--item-texto{
    width: 8em;
}

.calculadora__total{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: solid 4px black;
    background-color: #8D7B68;
}

.calculadora__total--resultado{
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    background-color: whitesmoke;
    color: black;
    
}

.btn__deleta {
    font-weight: 700;
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px 0px black;
}