.cabecalho{
    display: flex;
    background-color: #F3DEBA;
    box-shadow: black 0px 5px 10px;
    height: 8vh;
    width: 100vw;
    align-items: center;
    z-index: 2;
    justify-content: center;
}

.titulo__principal{
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: black;
}

.menu{
    position: absolute;
}
