.btn__menu{
    width: 54px;
}


.menu__lateral.ativo{
    height: 72vh;

    
}

.menu__lateral{
    width: 100%;
    bottom: 0;
    height: 0;
    position: absolute;
    background-color: #8D7B68;
    transition: 1s;
    overflow: hidden auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 36px 36px 0 0 ;
}

.barra__pesquisa{
    width: 90%;
    align-self: center;
    margin: 5px 0;
    padding: 2px 0 2px 8px;
    border: 0;
    border-radius:  5px;
    font-size: 0.85em;
}

.barra__pesquisa:text


.menu__lista{
    display: flex;
    flex-direction: column;
    
}
.menu__lista--item{
    height: 40px;
    white-space: nowrap;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    text-transform: uppercase;
}
.menu__lista--item::first-letter{
    color: black;
}

.principal{
    position: absolute;
    z-index: -1;
}

