.btn__menu{
    width: 54px;
}


.menu__lateral.ativo{
    width: 48%;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}

.menu__lateral{
    left: 0;
    top: 8%;
    height: 50vh;
    position: absolute;
    background-color: #8D7B68;
    width: 0px;
    transition: .7s;
    overflow: hidden auto;
    z-index: 3;
    box-shadow: black 0px 5px 10px;
    display: flex;
    flex-direction: column;
}

.barra__pesquisa{
    width: 90%;
    align-self: center;
    margin: 5px 0;
    padding: 2px 0 2px 8px;
    border: 0;
    border-radius:  5px;
    font-size: 0.85em;
}

.barra__pesquisa:text


.menu__lista{
    display: flex;
    flex-direction: column;
    
}
.menu__lista--item{
    height: 40px;
    white-space: nowrap;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    text-transform: uppercase;
}
.menu__lista--item::first-letter{
    color: black;
}

.principal{
    position: absolute;
    z-index: -1;
}

