.navegacao{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100vw;
    background-color: whitesmoke;
    /* background: linear-gradient(27deg, rgba(149,80,16,1) 35%, rgba(244,149,46,1) 70%); */
    /* background-color: rgba(149,80,16,1); */
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    /* height: 8vh; */
    /* display: flex; */
    z-index: 7;
}

.navegacao__lista{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn__menu{
    width: 50px;
}

.btn__menu:active{
    scale: 80%;
}

.btn__calc{
    width: 40px;
}

.btn__calc:active{
    scale: 80%;
}