.navegacao{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100vw;
    background-color: whitesmoke;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    z-index: 7;
}

.navegacao__lista{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navegacao__lista--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 76px;
    height: 72px;
}

.btn__menu{
    width: 50px;
    align-self: center;
}

.btn__menu:active{
    scale: 80%;
}

.btn__calc{
    width: 40px;
}

.btn__calc:active{
    scale: 80%;
}

.legenda{
    color: black;
    font-weight: 700;
    font-size: 1.1em;
}