@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url(./header.css);
@import url(./menu.css);
@import url(./calculo.css);
@import url(./calculadora.css);
@import url(./navegacao.css);
:root{
    --fonte-principal: 'Nunito', sans-serif;
    --cor-de-fundo: rgb(37, 37, 37);
    --cor-principal: rgb(255, 255, 255);
}
body{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    background-color: #8D7B68;
    height: 100vh;
    z-index: -2;
    position: relative;
}
*{
    font-family: var(--fonte-principal);
    box-sizing: border-box;
}

.titulo{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}
.titulo::first-letter{
    text-transform: uppercase;
}

.principal {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.principal__container{
    position: absolute;
    top: 8vh;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes{
    margin-bottom: 1em;
}





.invisivel {
    display: none;
}


