@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url(./header.css);
@import url(./menu.css);
@import url(./calculo.css);
@import url(./calculadora.css);
:root{
    --fonte-principal: 'Nunito', sans-serif;
    --cor-de-fundo: rgb(37, 37, 37);
    --cor-principal: rgb(255, 255, 255);
}
body{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    background-color: #8D7B68;
    height: 100vh;
    z-index: -2;
    position: relative;
}
*{
    font-family: var(--fonte-principal);
}

.titulo{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2em;
}
.titulo::first-letter{
    text-transform: uppercase;
}

.principal {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.principal__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes{
    margin-bottom: 1em;
}

.adicionar__garrafas{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn__add{
    height: 2em;
    border: 0;
    border-radius: 20px 20px 0 0;
    width: 100%;
    font-size: 1.5em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: whitesmoke;
}


