@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url(./header.css);
@import url(./menu.css);
:root{
    --fonte-principal: 'Nunito', sans-serif;
    --cor-de-fundo: rgb(37, 37, 37);
    --cor-principal: rgb(255, 255, 255);
}
body{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
}

.titulo{
    font-size: 3em;
    font-weight: 700;
    margin: 1em 0 2em 0;
    text-align: center;
}

.principal {
    height: 100px;
    text-align: center;
}

.botoes{
    margin-bottom: 1em;
}

.calculo-dose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-medida{
    height: 1.5em;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 1em;
}

.resposta{
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 700;
}

.logo{
    width: 40px;
}